.bg-green-subtitle{
    color: #4CAF50;
    font-weight: 600;
    text-transform: uppercase;
}

.bg-grey-1{
color: #37474F;
}

.bg-grey-6 {
    color: #263238;
}

.font-w-600{
    font-weight: 600;
}
.font-s-1-5em{
    font-size: 1.5em;
}

.font-s-1-8em{
    font-size: 1.8em;
}